In [2]:
#1. modification of a list inside a tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [3]:
#1. count of occurances of 50 from a tuple
tuple2 = (50, 10, 60, 70, 50)
tuple2.count(50)

2

In [6]:
#3. Program to convert a list to tuple
demoList = [50, 10, 60, 70, 50]
convertedTuple = tuple(demoList)
type(convertedTuple) #prints the type of variable

tuple

In [16]:
#4. new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.copy()
set3.update(set2)
set3

{10, 20, 30, 40, 50, 60, 70}

In [4]:
#5. Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
#6. Given a Python dictionary, Change Bradâ€™s salary to 8500

sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict["emp3"]["salary"]=8500 #Accessing nested 3rd dictionary
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [23]:
#7. Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict['Location']=sampleDict.pop('city')
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}